node_modules/
.pnpm-store/
.turbo/
dist/
coverage/
.expo/
/app/
flutter_app/
.next/
*.tsbuildinfo
.env
.env.local
.env.*.local
!.env.example
.DS_Store
*-debug.log*

# Flutter / Dart
*.class
*.log
*.pyc
*.swp
.build/
.buildlog/
.history/
.swiftpm/
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id
*.iml
*.ipr
*.iws
.idea/
.local/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
